<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
Copyright 2019 Halodi Robotics AS
Author: Jesper Smith (jesper@halodi.com)

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

<http://www.apache.org/licenses/LICENSE-2.0>.

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<robot xmlns:ns2="http://www.ros.org" xmlns:xi="http://www.w3.org/2003/XInclude" name="eve_r3">

	<xi:include href="eve_r3_leg.in.urdf" xpointer="xpointer(//robot/*)"/>
    <xi:include href="eve_r3_right_arm.in.urdf" xpointer="xpointer(//robot/*)"/>
    <xi:include href="qbhand.right.in.urdf" xpointer="xpointer(//robot/*)"/>
    <xi:include href="eve_r3_left_arm.in.urdf" xpointer="xpointer(//robot/*)"/>
    <xi:include href="qbhand.left.in.urdf" xpointer="xpointer(//robot/*)"/>
    <xi:include href="eve_r3_head.in.urdf" xpointer="xpointer(//robot/*)"/>
    
</robot>
