<?xml version="1.0"?>

<model>
  <name>robotiq_2f_85_gripper</name>
  <version>1.0</version>
  <sdf>dummy.urdf</sdf>

  <author>
    <name>Jesper Smith</name>
    <email>jesper@halodi.com</email>
  </author>

  <description>
    Robotiq 2F-85 hand gripper extracted for inclusion with Halodi Robot Models. 
  </description>
</model>
