<?xml version="1.0"?>

<model>
  <name>qb_hand_description</name>
  <version>1.0</version>
  <sdf>dummy.urdf</sdf>

  <author>
    <name>Jesper Smith</name>
    <email>jesper@halodi.com</email>
  </author>

  <description>
    QB Hand Description extract for Eve Robot Model
  </description>
</model>
